* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: #F8F8F7;
  color: #404040;
  font-family: "Roboto", sans-serif;
}

#tortuga {
  background-image: url("../img/turtle.jpg");
  background-position: center;
}

.u-wrapper {
  max-width: 1024px;
  height: inherit;
  margin: 0 auto;
  padding: 0 10px;
  display: inherit;
  -webkit-box-pack: inherit;
      -ms-flex-pack: inherit;
          justify-content: inherit;
  -webkit-box-align: inherit;
      -ms-flex-align: inherit;
          align-items: inherit;
  -webkit-box-flex: inherit;
      -ms-flex: inherit;
          flex: inherit;
  border: 1px solid red;
}

.u-arranger {
  padding: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.u-arranger--center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.u-arranger--divide {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.c-header {
  background: #2176ff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}

.c-header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
}

.c-header__item {
  list-style: none;
  margin-left: 12px;
}

.c-header__item:hover {
  text-decoration: underline;
}

.c-header__link {
  text-decoration: none;
  color: white;
}

.c-cta {
  font-size: 1.3em;
  -webkit-box-sizing: initial;
          box-sizing: initial;
  text-decoration: none;
  color: white;
  background: #2176ff;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
  padding: 12px 24px;
  border-radius: 2px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  display: inline-block;
  -webkit-transition: cubic-bezier(0.215, 0.61, 0.355, 1) 0.3s;
  transition: cubic-bezier(0.215, 0.61, 0.355, 1) 0.3s;
  border: 2px solid #2176ff;
  margin: 0 5px;
}

.c-cta:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.c-cta:active {
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
  background: #0051d4;
}

.c-cta--big {
  font-size: 2em;
}

.c-cta--hollow {
  background: transparent;
  color: #2176ff;
}

.c-cta--hollow:hover {
  background: #2176ff;
  color: white;
}

.c-hero {
  height: 70vh;
}

.c-hero__title {
  font-size: 3em;
}

.c-hero__subtitle {
  font-size: 1.6em;
  color: #828382;
}

.c-heading {
  font-size: 2em;
  text-align: center;
}

.c-calendar {
  border: 1px solid black;
  border-radius: 2px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 1fr 1fr;
      grid-template-columns: auto 1fr 1fr;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}

.c-calendar__cell {
  border: 1px solid black;
  font-size: 1.3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  font-weight: 500;
}

.c-calendar__cell--heading {
  background: #eeeeee;
}

.c-calendar__cell--plate {
  font-size: 1.6em;
}

.c-calendar__cell--yellow {
  background: #ffc107;
}

.c-calendar__cell--pink {
  background: #ff4081;
}

.c-calendar__cell--red {
  background: #f44336;
}

.c-calendar__cell--green {
  background: #8bc34a;
}

.c-calendar__cell--blue {
  background: #03a9f4;
}

.c-benefits {
  background: white;
  border-radius: 2px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  padding: 5px 15px;
  width: 48%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.c-benefits__title {
  text-align: center;
  font-size: 1.6em;
  color: #4caf50;
  font-weight: 500;
}

.c-benefits__title--money {
  color: orange;
}

.c-benefits__list {
  width: 80%;
  margin: 0 auto;
}

.c-benefits__list-item {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50px 1fr;
      grid-template-columns: 50px 1fr;
  gap: 0 10px;
      grid-template-areas: "bullet title" ". text ";
  margin-bottom: 15px;
}

.c-benefits__list-item__bullet {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: bullet;
  color: #4caf50;
  border: 2px solid;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bold;
  font-size: 1.5em;
}

.c-benefits__list-item__bullet--money {
  color: orange;
}

.c-benefits__list-item__bullet--total {
  border: none;
  color: red;
}

.c-benefits__list-item__title {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: title;
  font-size: 1.4em;
  margin: 0;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.c-benefits__list-item__title--money {
  font-weight: 500;
  color: orange;
}

.c-benefits__list-item__title--total {
  color: red;
  font-weight: bold;
}

.c-benefits__list-item__text {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: text;
  margin: 0;
}

.c-benefits__alert {
  text-align: center;
  font-size: 1.5em;
  font-weight: 500;
}
/*# sourceMappingURL=style.css.map */