
// ? <--------- VARIABLES --------->

// * Colors:
$color__body-1: #F8F8F7;
$color__body-2: #FCFCFC;
$color__body-3: #F1F4FA;
$color__element: #FFF;
$color__accent-main: #2176ff;
$color__accent-main--transparent: #2176ff0d;
$color__accent-secundary: #59BA41;
$color__text: #404040;
$color__text--light: #828382;

// * UI Element Styles
$shadow: 0 1px 2px rgba(0,0,0,0.15);
$border-radius: 2px;
$font: 'Roboto', sans-serif;

// ? </--------- VARIABLES --------->

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background: $color__body-1;
    color: $color__text;
    font-family: $font;
}

#tortuga {
    background-image: url('../img/turtle.jpg');
    background-position: center;
}
// ? <--------- Utilities --------->
@import './utils/wrapper';
@import './utils/arranger';
// ? </--------- Utilities --------->

// ? <--------- COMPONENTS --------->
@import './components/header';
@import './components/cta';
@import './components/hero';
@import './components/heading';
@import './components/calendar';
@import './components/benefits';
// ? </--------- COMPONENTS --------->
