.u-container {
    // border: 1px solid black;
    &--half {
        width: 48%;
    }

    @include ipad {
        width: 70%;
        margin: 0 auto;
    }

    @include iphone-8-plus {
        width: 100%;
    }
}