.u-wrapper {
    max-width: 1024px;
    height: inherit;
    margin: 0 auto;
    padding: 0 10px;
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    flex: inherit;

    &--blog {
        max-width: 850px;
    }
    // border: 1px solid red;
}