.c-cta-banner {
    padding: 20px 0;
    background: $color__accent-main--transparent;

    &__title {
        font-size: 1.3em;
    }

    &__address{
        
    }

    &__phone {

    }

    &__text {

    }

    &__button {

    }
}