.c-cta {
    font-size: 1.2em;
    box-sizing: initial;
    text-decoration: none;
    color: white;
    background: $color__accent-main;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 12px 24px;
    border-radius: $border-radius;
    box-shadow: $shadow;
    display: inline-block;
    &--big {
        font-size: 2em;
    }
}