$cta-green: #4caf50;

.c-cta {
    font-size: 1.3em;
    box-sizing: initial;
    text-decoration: none;
    color: white;
    background: $color__accent-main;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 12px 24px;
    border-radius: $border-radius;
    box-shadow: $shadow;
    display: inline-block;
    transition: cubic-bezier(0.215, 0.610, 0.355, 1) .3s;
    border: 2px solid $color__accent-main;
    margin: 0 5px; 
    &:hover {
        transform: translateY(-5px);
    }

    &:active {
        transform: translateY(5px);
        background: darken($color__accent-main, 15%);
    }
    &--big {
        font-size: 2em;
    }

    &--mini {
        font-size: inherit;
        text-transform: initial;
        padding: 6px 12px;
        border-color: white;
        &:hover {
            background: white;
            color: $color__accent-main;
            transform: translateY(0px);
        }
    }

    &--hollow {
        background: transparent;
        color: $color__accent-main;
        // &:hover {
        //     background: $color__accent-main;
        //     color: white;
        // }
    }

    &--green {
        background: $cta-green;
        border-color: $cta-green;
    }

    &--green-hollow {
        background: transparent;
        color: $cta-green;
        border-color: $cta-green;
        
    }

    @include iphone-8-plus {
        padding: 12px 10px;
        &--big {
            font-size: 1.5em;
        }
    }
}