.c-header {
    background: $color__accent-main;
    display: flex;
    justify-content: space-between;
    flex: 1;
    box-shadow: $shadow;
    font-size: 1.2em;
    font-weight: 500;
    position: fixed;
    width: 100%;
    
    &__list {
        display: flex;
        align-items: center;
        padding: 0;
    }
    
    &__item {
        list-style: none;
        margin-left: 12px;
    }
    
    &__link {
        text-decoration: none;
        color: white;
        &:hover {
            // text-decoration: underline;
            color: limegreen;
        }
    }
    
    @include ipad {
        font-size: 1em;
    }
}