.c-hero {
    margin-top: 77px;
    // background-image: url('../img/hero.png');
    background-image: linear-gradient(rgba(0,0,0,.55),rgba(0,0,0,.55)), url("../img/car-engine.jpg");
    background-size: cover;
    background-position: center;
    color: white;
    padding: 100px;
    &__title {
        margin: 0;
        font-size: 3em;
        text-shadow: 1px 1px rgba(0,0,0,.25);
    }
    
    &__subtitle {
        font-size: 1.6em;
        text-shadow: 1px 1px rgba(0,0,0,.25);
    }

    @include iphone-8-plus {
        font-size: 14px;
        text-align: center;
        padding: 50px;

        &__title {
            margin-bottom: 0;
        }
    }
}